/* Author: Craig Hart @ Feb 2, 2019 */

/* Set Base Style */

html, body {
  font-family: sans-serif;
  color: #2B3E50;
  background-color: white;
}

a {
  color: #2B3E50;
  text-decoration: none;
}

a:link, a:focus, a:active {
  color: #2B3E50;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Blog Header Style Below */

header {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  align-self: center;
  text-align: center;
}

.nav {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #2B3E50;
  align-self: center;
  display: flex;
}

.nav a, .nav p {
  color: #2B3E50;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25rem;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav a:link, .nav a:focus, .nav a:active {
  text-decoration: none;
  color: #2B3E50;
}

.nav a:hover {
  color: #2B3E50;
  border-bottom: 2px solid #42B983;
}

a.nav_focus {
  border-bottom: 2px solid #42B983;
}

/* Search Overlay Style */
.searchButton {
  font-size: 1.2rem;
  cursor: pointer;
}

.search {
  display:flex;
  align-items:center;
  justify-content:center;
}
.searchbarwrapper input[type="search"]{
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
}



.searchbarwrapper input[type="search"]:focus{
  outline:0;
}



/* Filter Text Size */
h1.filter {
  font-size: 2rem;
  font-weight: bolder;
}

/* Blog Content Style Below */

article h1.title{
  font-size: 2rem;
  color: #2B3E50;
}

p.info {
  color: #2B3E50;
  opacity: 0.5;
  margin-bottom: 1rem;
}

article.descriptionText {
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}

article.descriptionText img{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;  
  border-radius: 2px;
}

article.articleText h1,
article.articleText h2,
article.articleText h3,
article.articleText h4{
  font-weight: bolder;
}

article.articleText h1{
  font-size: 2rem;
}

article.articleText h2{
  font-size: 1.5rem;
}

article.articleText h3{
  font-size: 1.17rem;
}

article.articleText h4{
  font-size: 1rem;
}

.button.is-white.readmore:hover{
  background-color: #42B983;
  color: white;
}

/* Blog Prev / Next Style Below */

.Prev {
  padding-left: 2.25rem;
  float: left;
}

.Next {
  padding-right: 2.25rem;
  float: right;
}

.Prev a, .Next a{
  color: #42B983;
  text-decoration: none;
}

/* Blog Sidebar: no Sidebar */

.sidebar {
  display: none;
}


/* Blog Footer Style Below */

footer{
  clear: both;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  color: rgba(43, 62, 80, 0.5);
}

footer a:link {
  color: inherit;
}

footer a:hover {
  color: rgb(43, 62, 80);
}

/* footer > hr {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(43, 62, 80, 0.1);
} */
