/* Author: Craig Hart @ Feb 2, 2019 */

/* Set Base Style */

html, body {
  font-family: sans-serif;
  color: white;
  background-color: #2B3E50;
}

a {
  color: white;
  text-decoration: none;
}

a:link, a:focus, a:active, a:hover {
  color: white;
}

hr {
  background-color: rgba(245, 245, 245, 0.5)
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Blog Header Style Below */

header {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  align-self: center;
  text-align: center;
}

.nav {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: white;
  align-self: center;
  display: flex;
}

.nav a {
  color: white;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25rem;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav a:link, .nav a:focus, .nav a:active {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: white;
  border-bottom: 2px solid #42B983;
}

a.nav_focus {
  border-bottom: 2px solid #42B983;
}

/* Filter Text Size */
h1.filter {
  font-size: 2rem;
  font-weight: bolder;
}

/* Blog Content Style Below */

article h1.title{
  font-size: 2rem;
  color: white;
}

p.info {
  color: white;
  opacity: 0.5;
  margin-bottom: 1rem;
}

article.descriptionText {
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}

article.descriptionText img{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;  
  border-radius: 2px;
}
/* 
article.descriptionText p, article.articleText p{
  margin-top: 1rem;
  margin-bottom: 1rem; 
} */

article.articleText h1,
article.articleText h2,
article.articleText h3,
article.articleText h4{
  font-weight: bolder;
}

article.articleText h1{
  font-size: 2rem;
}

article.articleText h2{
  font-size: 1.5rem;
}

article.articleText h3{
  font-size: 1.17rem;
}

article.articleText h4{
  font-size: 1rem;
}

.button.is-white.readmore{
  background-color: transparent;
  color: white;
}

.button.is-white.readmore:hover{
  background-color: #42B983;
  color: white;
}

/* Blog Prev / Next Style Below */

.pagination a {
  color: white;
}

.pagination a:hover {
  background-color: #42B983;
  color: white;
  border-color: #42B983;
}

/* Blog Sidebar: no Sidebar */

.sidebar {
  display: none;
}


/* Blog Footer Style Below */

footer{
  clear: both;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

footer a:link {
  color: inherit;
}

footer a:hover {
  color: white;
}

/* footer > hr {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(43, 62, 80, 0.1);
} */
